.DS_Store
img/maioliche_pattern_files/
img/maioliche_pattern.html
img/Designer.jpg
img/log_names.jpg
img/francesco_miriam_logo.jpeg
img/lettering.png
img/seal.png
img/envelope-clean.png
img/commenda_stilizzata.png
img/commenda2.png
img/new background.png
